In [2]:
library(readr)
library(mechkar)
library(dplyr)
library(ggplot2)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
nasa2<-as_data_frame(nasa)

Warning message:
"`as_data_frame()` is deprecated, use `as_tibble()` (but mind the new semantics).
This warning is displayed once per session."

In [4]:
help(nasa)

In [5]:
head(nasa2)

  lat      long   month year cloudhigh cloudlow cloudmid ozone pressure
1 36.20000 -113.8 1     1995 26.0       7.5     34.5     304    835
2 33.70435 -113.8 1     1995 20.0      11.5     32.5     304    940
3 31.20870 -113.8 1     1995 16.0      16.5     26.0     298    960
4 28.71304 -113.8 1     1995 13.0      20.5     14.5     276    990
5 26.21739 -113.8 1     1995  7.5      26.0     10.5     274   1000
6 23.72174 -113.8 1     1995  8.0      30.0      9.5     264   1000
  surftemp temperature
1 272.7    272.1
2 279.5    282.2
3 284.7    285.2
4 289.3    290.7
5 292.2    292.7
6 294.1    293.6

In [6]:
df_2<-nasa2

In [7]:
train_test(data=df_2,train_name="train",test_name="test",prop=0.7,seed=5,tableone=TRUE)

Dataset partitioned into:
 + Train dataset: train
 + Test dataset: test

  |================================================================      |  92%

You got a perfectly balanced training and test datasets

   V1             V2           Pop
1  Individuals    n            41472
2  lat            Mean (SD)    7.5 (17.3)
3  lat            Median (IQR) 7.5 (-6.9-21.9)
4  long           Mean (SD)    -85.0 (17.3)
5  long           Median (IQR) -85.0 (-99.4--70.6)
6  month          Mean (SD)    6.5 (3.5)
7  month          Median (IQR) 6.5 (3.8-9.2)
8  year           Mean (SD)    1,997.5 (1.7)
9  year           Median (IQR) 1,997.5 (1,996.0-1,999.0)
10 cloudhigh      Mean (SD)    12.0 (12.4)
11 cloudhigh      Median (IQR) 8.5 (1.5-18.5)
12 cloudlow       Mean (SD)    26.2 (14.8)
13 cloudlow       Median (IQR) 23.5 (15.0-34.5)
14 cloudlow       Missing (%)  110 (0.3%)
15 cloudmid       Mean (SD)    15.3 (9.7)
16 cloudmid       Median (IQR) 14.0 (7.5-22.0)
17 ozone          Mean (SD)    267.2 (19.0)
18 ozone          Median (IQR) 264.0 (254.0-276.0)
19 pressure       Mean (SD)    985.4 (45.2)
20 pressure       Median (IQR) 1,000.0 (995.0-1,000.0)
21 surftemp       Mean (SD)    296.2 (4.7)
22 surftemp       Median (IQR) 296.9 (294.1-299.2)
23 temperature    Mean (SD)    297.9 (4.7)
24 temperature    Median (IQR) 299.2 (295.5-301.4)
25 traintest_ind_ Mean (SD)    1.3 (0.5)
26 traintest_ind_ Median (IQR) 1.0 (1.0-2.0)
   1                         2                         pval
1  29030                     12442                     NA
2  7.5 (17.3)                7.5 (17.2)                NA
3  7.5 (-6.2-23.7)           7.5 (-8.7-21.2)           0.92
4  -85.0 (17.3)              -85.0 (17.4)              NA
5  -83.7 (-98.8--71.2)       -86.3 (-101.3--68.7)      0.933
6  6.5 (3.5)                 6.5 (3.5)                 NA
7  6.0 (4.0-9.0)             7.0 (3.0-10.0)            0.756
8  1,997.5 (1.7)             1,997.5 (1.7)             NA
9  1,998.0 (1,996.0-1,999.0) 1,997.0 (1,996.0-1,999.0) 0.243
10 11.9 (12.3)               12.2 (12.5)               NA
11 8.0 (1.5-18.0)            8.5 (1.5-18.5)            0.02
12 26.3 (14.8)               26.2 (14.8)               NA
13 23.5 (15.0-34.5)          23.5 (15.0-34.5)          0.564
14 84 (0.3%)                 26 (0.2%)                 NA
15 15.3 (9.7)                15.3 (9.7)                NA
16 14.0 (7.5-22.0)           14.5 (7.5-22.0)           0.541
17 267.2 (19.0)              267.1 (18.9)              NA
18 264.0 (254.0-276.0)       264.0 (254.0-276.0)       0.638
19 985.5 (45.3)              985.4 (45.0)              NA
20 1,000.0 (995.0-1,000.0)   1,000.0 (995.0-1,000.0)   0.924
21 296.2 (4.7)               296.2 (4.7)               NA
22 296.9 (294.1-299.2)       296.9 (293.6-299.2)       0.973
23 297.9 (4.7)               297.9 (4.7)               NA
24 299.2 (295.5-301.4)       299.2 (295.5-301.4)       0.811
25 NA                        NA                        NA
26 NA                        NA                        0

In [8]:
getMissingness(df_2)

[[1]]
       var na_count rate
1 cloudlow      110  0.3

[[2]]
[1] "This dataset has 41362 (99.7%) complete rows. Original data has 41472 rows."

$missingness
       var na_count rate
1 cloudlow      110  0.3

$message
[1] "This dataset has 41362 (99.7%) complete rows. Original data has 41472 rows."

$rows
NULL

In [9]:
### The error we will use is the RMSE and RMSLE
rmse <- function(y,y_hat) {
    err <- sqrt(sum((y_hat-y)^2,na.rm=T)/length(y))
    return(err)
}

rmsle <- function(y,y_hat) {
    err <- sqrt(sum((log(y_hat+1)-log(y+1))^2,na.rm=T)/length(y))
    return(err)
}

In [10]:
err_res_df_2 <- NULL

In [12]:
## model with only the original variables
mod1 <- lm(temperature ~., data=train[,1:11])
summary(mod1)

Call:
lm(formula = temperature ~ ., data = train[, 1:11])

Residuals:
     Min       1Q   Median       3Q      Max
-14.5414  -1.1222   0.0124   1.1644  16.2124

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -4.250e+02  1.322e+01 -32.149  < 2e-16 ***
lat         -3.642e-02  9.181e-04 -39.669  < 2e-16 ***
long         3.360e-03  7.010e-04   4.793 1.65e-06 ***
month        1.148e-01  3.253e-03  35.273  < 2e-16 ***
year         2.484e-01  6.629e-03  37.473  < 2e-16 ***
cloudhigh    2.858e-02  1.317e-03  21.704  < 2e-16 ***
cloudlow    -8.402e-02  1.077e-03 -78.026  < 2e-16 ***
cloudmid     6.319e-03  1.684e-03   3.753 0.000175 ***
ozone       -2.617e-02  8.087e-04 -32.354  < 2e-16 ***
pressure     3.378e-02  3.151e-04 107.206  < 2e-16 ***
surftemp     6.822e-01  3.006e-03 226.936  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 1.893 on 28935 degrees of freedom
  (84 observations deleted due to missingness)
Multiple R-squared:  0.8329,	Adjusted R-squared:  0.8329
F-statistic: 1.443e+04 on 10 and 28935 DF,  p-value: < 2.2e-16

In [13]:
pred1a <- predict(mod1,newdata=test)
pred1b <- predict(mod1,newdata=train)

rmse(test$temperature,pred1a)
rmsle(test$temperature,pred1a)
rmse(train$temperature,pred1b)
rmsle(train$temperature,pred1b)
err_res_df_2 <- rbind(err_res_df_2, data.frame(Name="Base Linear regression", Model="mod1", 
                                     RMSE=rmse(test$temperature,pred1a), 
                                     RMSLE=rmsle(test$temperature,pred1a),
                                    RMSE=rmse(train$temperature,pred1b), 
                                     RMSLE=rmsle(train$temperature,pred1b)))

[1] 1.887186

[1] 0.006367224

[1] 1.88956

[1] 0.006373043

In [27]:
mod2 <- lm(temperature ~., data=train)
summary(mod2)

Call:
lm(formula = temperature ~ ., data = train)

Residuals:
     Min       1Q   Median       3Q      Max
-14.5414  -1.1222   0.0124   1.1644  16.2124

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -4.250e+02  1.322e+01 -32.149  < 2e-16 ***
lat         -3.642e-02  9.181e-04 -39.669  < 2e-16 ***
long         3.360e-03  7.010e-04   4.793 1.65e-06 ***
month        1.148e-01  3.253e-03  35.273  < 2e-16 ***
year         2.484e-01  6.629e-03  37.473  < 2e-16 ***
cloudhigh    2.858e-02  1.317e-03  21.704  < 2e-16 ***
cloudlow    -8.402e-02  1.077e-03 -78.026  < 2e-16 ***
cloudmid     6.319e-03  1.684e-03   3.753 0.000175 ***
ozone       -2.617e-02  8.087e-04 -32.354  < 2e-16 ***
pressure     3.378e-02  3.151e-04 107.206  < 2e-16 ***
surftemp     6.822e-01  3.006e-03 226.936  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.893 on 28935 degrees of freedom
  (84 observations deleted due to missingness)
Multiple R-squared:  0.8329,	Adjusted R-squared:  0.8329
F-statistic: 1.443e+04 on 10 and 28935 DF,  p-value: < 2.2e-16

In [28]:
library(tree)
library(rpart)

In [30]:
mod3 <- tree(temperature  ~., data=train)
mod3

node), split, n, deviance, yval
      * denotes terminal node

 1) root 28946 620500 298.0
   2) surftemp < 293.4 6247 160600 292.3
     4) surftemp < 286.55 969  19500 284.5 *
     5) surftemp > 286.55 5278  71540 293.7
      10) lat < 27.4652 4018  45850 294.6
        20) pressure < 817.5 201   3221 286.8 *
        21) pressure > 817.5 3817  29710 295.0
          42) cloudhigh < 31.75 3304  19480 294.5 *
          43) cloudhigh > 31.75 513   3535 298.4 *
      11) lat > 27.4652 1260  12500 290.9 *
   3) surftemp > 293.4 22699 201100 299.5
     6) surftemp < 297.6 10470  93940 298.0
      12) cloudlow < 18.75 3978  31390 300.1
        24) pressure < 947.5 315   5619 294.5 *
        25) pressure > 947.5 3663  15170 300.6 *
      13) cloudlow > 18.75 6492  34370 296.7
        26) lat < 24.9696 5196  19240 297.2 *
        27) lat > 24.9696 1296   8526 294.7 *
     7) surftemp > 297.6 12229  59790 300.9
      14) surftemp < 300.3 7235  32530 300.2 *
      15) surftemp > 300.3 4994  18490 301.9 *

In [35]:
pred3a <- predict(mod3,newdata=test)
pred3b <- predict(mod3,newdata=train)

rmse(test$temperature,pred3a)
rmsle(test$temperature,pred3a)
rmse(train$temperature,pred3b)
rmsle(train$temperature,pred3b)
err_res_df_2 <- rbind(err_res_df_2, data.frame(Name="Decision Trees-tree", Model="mod3", 
                                     RMSE=rmse(test$temperature,pred3a), 
                                     RMSLE=rmsle(test$temperature,pred3a),
                                    RMSE=rmse(train$temperature,pred3b), 
                                     RMSLE=rmsle(train$temperature,pred3b)))

[1] 2.360892

[1] 0.007986039

[1] 2.366747

[1] 0.00800634

In [37]:
mod4 <- rpart(temperature ~., data=train)
mod4

n= 29030

node), split, n, deviance, yval
      * denotes terminal node

 1) root 29030 650818.200 297.9175
   2) surftemp< 292.95 5531 155395.600 291.5812
     4) surftemp< 286.55 1011  21701.600 284.2221 *
     5) surftemp>=286.55 4520  66694.680 293.2272
      10) pressure< 827.5 293   6868.379 286.2014 *
      11) pressure>=827.5 4227  44360.440 293.7142
        22) lat>=27.46522 1077   8939.560 290.7445 *
        23) lat< 27.46522 3150  22674.650 294.7296 *
   3) surftemp>=292.95 23499 221093.900 299.4089
     6) surftemp< 297.6 11270 106408.100 297.8167
      12) cloudlow>=18.75 6999  39608.210 296.5372
        24) lat>=24.96957 1422   9931.544 294.4610 *
        25) lat< 24.96957 5577  21983.700 297.0666 *
      13) cloudlow< 18.75 4271  36563.640 299.9135
        26) pressure< 947.5 376   6917.778 294.3306 *
        27) pressure>=947.5 3895  16794.850 300.4525 *
     7) surftemp>=297.6 12229  59790.400 300.8761
      14) surftemp< 300.3 7235  32530.130 300.1727 *
      15) surftemp>=300.3 4994  18492.990 301.8953 *

In [38]:
pred4a <- predict(mod4,newdata=test)
pred4b <- predict(mod4,newdata=train)

rmse(test$temperature,pred4a)
rmsle(test$temperature,pred4a)
rmse(train$temperature,pred4b)
rmsle(train$temperature,pred4b)
err_res_df_2 <- rbind(err_res_df_2, data.frame(Name="Decision Trees-rpart", Model="mod4", 
                                     RMSE=rmse(test$temperature,pred4a), 
                                     RMSLE=rmsle(test$temperature,pred4a),
                                    RMSE=rmse(train$temperature,pred4b), 
                                     RMSLE=rmsle(train$temperature,pred4b)))

[1] 2.389275

[1] 0.008078127

[1] 2.397288

[1] 0.008105862

In [14]:
library(randomForest)
library(ranger)

randomForest 4.6-14
Type rfNews() to see new features/changes/bug fixes.

Attaching package: 'randomForest'

The following object is masked from 'package:ggplot2':

    margin

The following object is masked from 'package:dplyr':

    combine


Attaching package: 'ranger'

The following object is masked from 'package:randomForest':

    importance

In [16]:
    nm<-setdiff(names(nasa2),"cloudlow")
nm

 [1] "lat"         "long"        "month"       "year"        "cloudhigh"
 [6] "cloudmid"    "ozone"       "pressure"    "surftemp"    "temperature"

In [15]:
mod6 <- ranger(temperature ~., data=train[nm])
mod6

ERROR: Error in check_names_df(i, x): object 'nm' not found