# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [1]:
a = list(range(1,10))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Append to the list the number 20

In [2]:
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

3. Insert two zeros after the fourth place of the list

In [3]:
a.insert(3,0)
a.insert(3,0)
a

[1, 2, 3, 0, 0, 4, 5, 6, 7, 8, 9, 20]

4. Sort the list in reverse order

In [4]:
a.sort(reverse=True)
a

[20, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [5]:
a = a[:-1]
a

[20, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

6. Invert the order of the list

In [6]:
a.reverse()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

7. How many items has the list?

In [7]:
len(a)

11

8. Give the minimum, maximum and the sum of all the items in the list

In [8]:
print("Minimum: %d\nMaximum: %d\nSum: %d" % (min(a),max(a),sum(a)))

Minimum: 0
Maximum: 20
Sum: 65

9. What will happen if you multiply the list by 2?

In [9]:
a*2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 20, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 20]

10. Can you divide the list by 3?

In [10]:
# NO!

# Tupples
 
1. Create a tupple with three characters and four numbers

In [11]:
b = ('A','B','C',1,2,3,4)
b

('A', 'B', 'C', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [12]:
b = b + (False,)
b

('A', 'B', 'C', 1, 2, 3, 4, False)

3. Retrieve the third to sixth items from the tupple

In [13]:
b[2:6]

('C', 1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [14]:
b = (list(b[0:3]),list(b[3:7]),list(b[7:8]))
b

(['A', 'B', 'C'], [1, 2, 3, 4], [False])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [15]:
txt = "Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
set(txt.split(" "))

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [16]:
set(txt.replace('.', '').split(" "))

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'of',
 'original',
 'that',
 'the',
 'values'}

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

Use the EmployeeID as the key for each row, and put the rest of the row as a sub-index (index inside an index)

In [17]:
c = {
        1020:{'Name':'Harry Smith', 'Position':'Sales Manager','Phone':'030-223.65.44'},
        2201:{'Name':'Margaret Holsum', 'Position':'Sales Representative','Phone':'030-223.64.12'},
        3320:{'Name':'Lasly Howard', 'Position':'Human Resources','Phone':'030-223.83.33'},
        8111:{'Name':'Larry Johnson', 'Position':'Project Manager','Phone':'030-224.22.00'},
        2733:{'Name':'Hellen Young', 'Position':'Customer Service','Phone':'030-223.03.20'}
    }
c

{1020: {'Name': 'Harry Smith',
  'Position': 'Sales Manager',
  'Phone': '030-223.65.44'},
 2201: {'Name': 'Margaret Holsum',
  'Position': 'Sales Representative',
  'Phone': '030-223.64.12'},
 3320: {'Name': 'Lasly Howard',
  'Position': 'Human Resources',
  'Phone': '030-223.83.33'},
 8111: {'Name': 'Larry Johnson',
  'Position': 'Project Manager',
  'Phone': '030-224.22.00'},
 2733: {'Name': 'Hellen Young',
  'Position': 'Customer Service',
  'Phone': '030-223.03.20'}}

1. Get all the keys of the dictionary

In [18]:
c.keys()

dict_keys([1020, 2201, 3320, 8111, 2733])

2. Get all the values of the dictionary

In [19]:
c.values()

dict_values([{'Name': 'Harry Smith', 'Position': 'Sales Manager', 'Phone': '030-223.65.44'}, {'Name': 'Margaret Holsum', 'Position': 'Sales Representative', 'Phone': '030-223.64.12'}, {'Name': 'Lasly Howard', 'Position': 'Human Resources', 'Phone': '030-223.83.33'}, {'Name': 'Larry Johnson', 'Position': 'Project Manager', 'Phone': '030-224.22.00'}, {'Name': 'Hellen Young', 'Position': 'Customer Service', 'Phone': '030-223.03.20'}])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [20]:
c[3320]

{'Name': 'Lasly Howard',
 'Position': 'Human Resources',
 'Phone': '030-223.83.33'}

# Loop programming in python
 
1. Write a script that shows all the residuals of dividing numbers from 1 to 100 by 5 that are different of zero. Use for.. loop and if..else

In [21]:
a = []
for i in range(1,101):
    if i%5!=0:
        a.append(i%5)

print(a)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [22]:
a = []
i=1

while i < 101:
    if i%5!=0:
        a.append(i%5)
    i=i+1

print(a)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]